.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

pcb/*.kicad_pcb-bak
pcb/*.sch-bak
pcb/fp-info-cache
pcb/fp-lib-table
pcb/sym-lib-table
pcb/*-cache.lib
pcb/_autosave*
pcb/gerber
